#.idea/**/workspace.xml
#.idea/dictionaries
.idea
config.ini
config.ini.php
/private/

## Composer
composer.phar
/vendor/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Mac
.DS_Store
._*
