html, body {
  margin: 0;
  height: 100%;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.container-fluid {
  padding: 60px 50px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%;
  height: fit-content;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-background {
  background: #30cfd0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #30cfd0 0%, #330867 100%); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background-color: #FFF;
}

#login-form {
  text-align: center;
  min-height: 21rem;
  height: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#login-form h1 {
  padding-bottom: 10px;
}

.btn-full-large {
  width: 100%;
}

#login-form p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

#login-form p.reset-pass {
  padding-top: 15px;
}

#login-form a {
  text-decoration: none;
}

.custom-alert-embedded {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

#not-allowed {
  text-align: center;
  min-height: 18rem;
  max-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.homepage-container {
  width: 70%;
  margin: auto;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.homepage-header {
  height: 15%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage-header > div {
  margin-left: 2rem;
  margin-right: 2rem;
}

.homepage-titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage-searchbar {
  width: auto;
  display: flex;
  align-items: center;
}

.homepage-searchbar i {
  font-size: 1.12rem;
  vertical-align: text-bottom;
}

#homepage-filter-icon {
  display: flex;
}

#homepage-add {
  display: flex;
}

/* Tutti i child tranne il primo */
#homepage-filter-form > input:not(:first-child) {
  margin-left: 1rem;
}

.homepage-searchbar > form {
  display: flex;
  flex-direction: row;
}

.homepage-content-wrapper {
  height: 85%;
  padding: 1rem;
}

.homepage-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.homepage-item {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  word-wrap: break-word;
  /*text-align: justify;*/
}

.priority {
  margin-bottom: 1rem;
}

.icon-font-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: fit-content;
}

.icon-font-container > i {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
}

#homepage-title-logout {
  display: flex;
}

.link-labeled {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.link-labeled > a, .link-labeled > button, .link-labeled > input {
  margin-right: 0;
  max-width: fit-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.link-labeled > span, .link-labeled > label {
  margin-right: 0;
  display: block;
  max-width: fit-content;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#new-notification-form-container h1 {
  text-align: center;
}

#new-notification-form-container > form div.form-element {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-div {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  width: -moz-fit-content;
}

.dropdown-colorselector {
  margin-left: 20px;
}

#new-notification-card {
  overflow-y: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 70vw;
}

#homepage-mobile-filters {
  display: none;
  position: absolute;
  height: fit-content;
  background-color: #e9ecef;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#homepage-mobile-filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 40px 10px 40px;
  max-width: 350px;
  margin: auto;
}

#homepage-mobile-filter-form > * {
  margin-bottom: 10px;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.allegato {
  display: flex;
  justify-content: flex-end;
}

.allegato > i {
  vertical-align: middle;
}

#new-notification-form {
  display: flex;
  flex-wrap: wrap;
}

#new-notification-form > * {
  flex: 1 0 33%;
  padding: 1rem;
}

.button-normal {
  display: flex;
  justify-content: center;
}

.button-normal > * {
  max-width: 300px;
}

#filter-btn {
  width: 100%;
}

#reset-pass-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 450px;
}

#reset-pass-form h1 {
  text-align: center;
}

#reset-pass-form p {
  margin-top: 20px;
  margin-bottom: 30px;
}

#send-reset-pass {
  margin-top: 30px;
}

#force-reset-pass-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
}

#force-reset-pass-form h1 {
  text-align: center;
}

#force-reset-pass-form form {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#close-filters {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 0.3rem;
}

#close-filters > i {
  font-size: 2.4rem;
  color: white;
}

/*
Star Rating Input
*/

.starrating {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.starrating > input {
  display: none;
}

/* Remove radio buttons */

.starrating > label:before {
  content: "★"; /* Star */
  margin: 2px;
  font-size: 2rem;
  display: inline-block;
}

.starrating > label {
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #ffca08;
}

/* Set yellow color when star checked */

.starrating > input:hover ~ label {
  color: #ffca08;
}

/* Set yellow color when star hover */

.risingstar > label:after {
  content: "★"; /* Star */
  display: none;
  position: absolute;
  margin: 2px;
  font-size: 2rem;
  top: 0;
}

/*
Media Queries
*/

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }

  #login-form, #not-allowed {
    width: 85vw;
  }

  .homepage-container {
    width: 100%;
    min-width: 100%;
  }

  .homepage-header {
    padding-top: 5%;
    height: 10%;
  }

  .homepage-content-wrapper {
    height: 90%;
  }

  .homepage-titlebar {
    justify-content: space-between;
  }

  #homepage-filter-form {
    display: none;
  }

  #homepage-mobile-filters {
    width: 100%;
    margin: auto;
    border-radius: 0;
  }

  #new-notification-card {
    height: 100%;
    min-width: 100%;
    margin: 0;
  }

  #new-notification-form-container {
    max-height: 100%;
  }

  .link-labeled.hide-on-mobile > span, .link-labeled.hide-on-mobile > label {
    display: none;
  }

  .link-labeled.hide-on-mobile > a, .link-labeled.hide-on-mobile > button, .link-labeled.hide-on-mobile > input {
    display: none;
    margin-right: initial;
    max-width: initial;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}
