html, body {
  margin: 0;
  height: 100%;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%;
  height: fit-content;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}




.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-background {
  background: #30cfd0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #30cfd0 0%, #330867 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background-color: #FFF;
}

#login-form {
  text-align: center;
  min-height: 21rem;
  height: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#login-form h1 {
  padding-bottom: 10px;
}

.btn-full-large {
  width: 100%;
}

#login-form p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

#login-form p.reset-pass {
  padding-top: 15px;
}

#login-form a {
  text-decoration: none;
}

.custom-alert-container {
  padding-top: 5vh;
  z-index: 9;
}

.custom-alert {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 5vh;*/
  max-width: 60%;
  min-width: 30%;
  width: 40%;
  padding: 1rem;
}

.custom-alert p {
  word-wrap: break-word;
}

.custom-alert-embedded {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

#not-allowed {
  text-align: center;
  min-height: 18rem;
  max-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.homepage-container {
  width: 70%;
  margin: auto;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.homepage-header {
  height: 15%;
  min-height: fit-content;
  /*min-height: 4rem;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage-header > div {
  margin-left: 2rem;
  margin-right: 2rem;
}

.homepage-titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage-searchbar i {
  font-size: 1.12rem;
  vertical-align: text-bottom;
}

#homepage-filter-icon {
  display: flex;
}

/* Tutti i child tranne il primo */
#homepage-filter-form > input:not(:first-child) {
  margin-left: 1rem;
}

.homepage-searchbar > form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.homepage-content-wrapper {
  height: 85%;
  padding: 1rem;
}

.homepage-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.homepage-item {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  word-wrap: break-word;
  /*text-align: justify;*/
}

.priority {
  margin-bottom: 1rem;
}

.icon-font-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: fit-content;
}

.icon-font-container > i {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
}

#homepage-title-logout {
  display: flex;
}

.page-wrapper {
  padding: 1rem;
}

.flex-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#new-notification-form-container h1 {
  text-align: center;
}

#new-notification-form-container > form div.form-element {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-div {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.dropdown-colorselector {
  margin-left: 20px;
}

#new-notification-card {
  overflow-y: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

#homepage-mobile-filters {
  position: absolute;
  height: fit-content;
  background-color: #f4f4f4;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  border-radius: 7px;
}

#homepage-mobile-filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 40px 10px 40px;
  max-width: 350px;
  margin: auto;
}
#homepage-mobile-filter-form > * {
  margin-bottom: 10px;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.allegato {
  display: flex;
  justify-content: flex-end;
}

.allegato > i {
  vertical-align: middle;
}

#filter-btn {
  width: 100%;
}

/*
Star Rating Input
*/

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "★"; /* Star */
  margin: 2px;
  font-size: 2rem;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.risingstar > label:after
{
  content: "★"; /* Star */
  display: none;
  position: absolute;
  margin: 2px;
  font-size: 2rem;
  top: 0;
}

/*
Media Queries
*/

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }

  #login-form, #not-allowed {
    width: 85vw;
  }

  .homepage-container {
    width: 100%;
    min-width: 100%;
  }

  .homepage-header {
    padding-top: 5%;
    height: 10%;
  }

  .homepage-content-wrapper {
    height: 90%;
  }

  .homepage-titlebar {
    justify-content: space-between;
  }

  #homepage-filter-form {
    display: none;
  }

  #homepage-mobile-filters {
    width: 100%;
    margin: auto;
    border-radius: 0;
  }

  #new-notification-card {
    height: 100%;
    min-width: 100%;
    margin: 0;
  }

  #new-notification-form-container {
    max-height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
